*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-image:url(./assets/sea.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 5vh;
    width: 100vw;
    *{
        display: inline-block;
    }
    nav{
        background-color: #b88267;
        border-radius: 1em;
        float: right;
        padding-right: 20px;
        a{
            margin: 0 40px;
        }
    }

}
a{
    text-decoration: none;
}
#logo{
    padding: 2%;
    font-size: 25px;
    color: purple;
    font-weight: bold;
}
#nav__signIn{
    border: solid 1px purple;
    padding: 0.5em;
    border-radius: 5px;
    background-color: violet;
}

.conteiner{
    display: block;
    justify-content: center;
    max-width: fit-content;
}


.inline_conteiner{
    display: inline;
    max-width: fit-content;
}
#intro{
    width: 100vw;
    height: 80vh;
}

#intro__titleSubtitle{
    margin-top: 2%;
    *{
        margin-left: 10%;
        text-align: left;
        color: white;
    }
    .separator{
        margin-left: 13%;
    }
    justify-content: center;
}
#intro__textAbout{
    width: 50%;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    color: white;

}
.separator{
    position: relative;
    left: 35%;
    height: 1%;
    width: 10%;
    background-color: #ccc;
}
#otherPages{
    height: auto;
    width: 100vw;
    background-color: #b88267;
    .conteiner{
        position: relative;
        left: 35%;
        text-align: center;
    }
}

.bgArticle{
    display: inline-block;
    margin: 5% 2%;
    max-width: max-content;
    img{
        width: 300px;
        height: 200px;
    }
    div > *{
        text-align: center;
        color: white;
        text-shadow: purple;
        left: 50%;
    }
}