*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-image:url(./assets/waves.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 5vh;
    width: 100vw;
    align-content: baseline;
}
#logo{
    float: left;
    margin-left: 2%;
    font-size: 25px;
    color: purple;
    font-weight: bold;
}
#nav__signIn{
    border: solid 1px purple;
    margin: 3px;
    border-radius: 5px;
    background-color: violet;
}
nav{
    display: inline;
}


.conteiner{
    display: block;
    justify-content: center;
    max-width: fit-content;
}


.inline_conteiner{
    display: inline;
    max-width: fit-content;
}
#intro{
    width: 100vw;
    height: 80vh;
}

#intro__titleSubtitle{
    margin-top: 2%;
    *{
        margin-left: 10%;
        text-align: left;
        color: rgb(255, 105, 105);
    }
    .separator{
        margin-left: 13%;
    }
    justify-content: center;
}
#intro__textAbout{
    width: 50%;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    color: white;

}
.separator{
    height: 4px;
    width: 30px;
    background-color: #ccc;
}
#otherPages{
    display: inline-block;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: #b88267;
    .conteiner{
        justify-items: center;
    }
}

.bgArticle{
    justify-content: center;
    align-content: center;
    max-width: max-content;
    img{
        width: 300px;
        height: 200px;
    }
    div > *{
        text-align: center;
        color: white;
        text-shadow: purple;
        left: 50%;
    }
}